<!DOCTYPE html>
<html lang="en">

	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="https://thibaultjanbeyer.github.io/DragSelect/ds.min.js"></script>
	<script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>

	<style>
		table {
		  width: 100%;
		  border: 1px solid #444444;
		  border-collapse: collapse;
		}
		th, td {
		  border: 1px solid #444444;
		  padding: 5px;
		}
		.sec{
		  background-color: #f6c23e;
		  color : black;
		  font-weight : bold;
		}
	</style>
	<title>LVP HUB</title>
	<link rel='stylesheet' href='/stylesheets/style.css'/>
	<link rel="icon" type="image/png" sizes="32x32" href="./fav_img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="./fav_img/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="./fav_img/favicon-16x16.png">
	<link rel="manifest" href="./fav_img/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="./fav_img/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	</head>
	<body>
		<!-- Page Wrapper -->
		<div id="wrapper">
			<div id="content-wrapper">
				<h1 class="h1 dyn_tts" style="margin-bottom : 5rem;">Detail</h1>
				<!-- row1 start-->
				<div class="row" style="margin-bottom : 5rem;">
					<!-- Area Chart -->
					<div id="item_one" class="row" style="margin-bottom : 1rem;">
						<!-- Area Chart -->
						<div class="col-xl-14">
							<div class="card shadow mb-4" style="overflow: hidden; height: auto;">
								<!-- Card Header - Dropdown -->
								<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
									<h6 class="m-0 font-weight-bold text-primary dyn_tts" style="font-size : 3rem;">상품</h6>
								</div>
								<!-- item Body -->
								<div class="card-body">
									<div class="chart-area-joys">
										<div class="detailpg_item_info">
											<div class="item_photo">
												<a href= <%= detail_data[0].detail_url%> >
													<img class="photo" id="image_url" src= <%= detail_data[0].main_img%>/>
												</a>
											</div>

											<div class="detailpg_detail_and_button">
												<div class="item_detail dyn_tts" style="font-size : 1.5rem; color : black;">
													<p> <%= detail_data[0].name %> </p>
													<p> <%= detail_data[0].price %> </p>
												</div>

												<a href = <%=detail_data[0].detail_url%> >
													<button id = "go_buy" class = "detail_joys tts" type="button" name="detailURL" style= "font-weight : bold;">구매하러가기</button>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--item1 done-->
					<div class="col-xl-13">
						<div class="card shadow mb-4" style="overflow: hidden; height: auto;">
							<!-- Card Header - Dropdown -->
							<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
								<h6 class="m-0 font-weight-bold text-primary dyn_tts" style="font-size : 3rem;">상품정보</h6>
							</div>
							<!-- item Body -->
							<div class="card-body" style = "overflow:hidden; height : auto;">
								<div class="chart-area-joys">

									<hr style="width:100%">
									<h3 class="h3 dyn_tts" style = "font-weight : bold;">필수정보고시</h3>
									<hr style="width:100%">
									<table>
										<tbody>
											<% detail_data[0].essential.forEach(function(d ,idx) { %>
											<tr class="dyn_tts" style="font-size : 2rem; color : white; font-weight : bold;">
												<td  class="sec" style="width: 300px" > <%= d[0] %></td><td><%= d[1] %></td>

											</tr>
											<% }) %>

										</tbody>
									</table>


								</div>
							</div>


							<div class="card-body" style = "overflow:hidden; height : auto;">
								<div class="chart-area-joys">

									<hr style="width:100%">
									<h3 class="h3 dyn_tts" style="font-weight : bold;">상세정보</h3>
									<hr style="width:100%">
									<% detail_data[0].detail_text.forEach(function(d) { %>

									<p class="dyn_tts" style="font-size : 3rem"> <%= d %> </p>

									<% }) %>
									<!--<% detail_data.forEach(function(d) { %>
									<p> <%=d.detail_text %> </p>
									<% }) %>-->
									<%  detail_data.forEach(function(d) { %>

									<!--<a href=<%d.image%>>-->
									<img class="img_url" src = <%=d.image%> />
									<!--</a>-->
									<% }) %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--sidebar start-->
			<div id="sidebar_wrapper" class="sidebar_wrapper_joys">
				<ul class="bg-gradient-primary sidebar_joys sidebar-dark accordion" id="buttonBar">
					<div id="button_group" class="button_group">
						<form action="/" id="first_page" name="first_page">
							<button id="go_first" type="submit" onclick="firstPage()" class="button_detail_joys tts">첫 화면<br/>이동하기
							</button>
							<script>
								function firstPage() {
									$('#first_page').submit();
								}
							</script>
						</form>

						<audio id="au" src="" preload style="height : 0px; width : 0px;">
							해당 브라우저는 audio 태그를 지원하지 않습니다.
						</audio>
						
						<button id="ocr_all" class="button_detail_joys tts">상세이미지<br/>전체읽기</button>

						<button id ="ocr_select" class="button_detail_joys tts">선택영역<br/>이미지읽기</button>

						<button id ="over_tts" class="button_detail_joys tts" onclick="tts_btn(); tts_html()">마우스<br/>포인터읽기</button>

						<button id = "in_btn" class="button_detail_joys tts" onclick="zoomIn()"> 확대</button>

						<button id = "out_btn"  class="button_detail_joys tts" onclick="zoomOut()"> 축소</button>

						<button id = "go_up" type="button" onclick="goTop()" class="button_detail_joys tts">위로<br/>이동하기</button>
						<script>
							function goTop() {
								document.documentElement.scrollTop = 0;
							}
						</script>
					</div>
				</ul>
			</div>

			<!--sidebar done-->
			<div style="width : 400px;height:50px;"></div>

			<script src="./scripts.js"></script>
			<script src="./html_tts.js"></script>

		</div>


		</div>

	</body>
</html>



