<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

		<script src="/socket.io/socket.io.js"></script>
		<script src="https://thibaultjanbeyer.github.io/DragSelect/ds.min.js"></script>
		        <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>

		<title>LVP HUB</title>
		<link rel='stylesheet' href='/stylesheets/style.css'/>

		<link rel="icon" type="image/png" sizes="32x32" href="./fav_img/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="./fav_img/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="./fav_img/favicon-16x16.png">
		<link rel="manifest" href="./fav_img/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="./fav_img/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
	</head>
	<body>
		<!-- Page Wrapper -->
		<div id="wrapper">
			<div id="content-wrapper">
				<h1 class="h1 dyn_tts">LVP HUB ITEMS</h1>
				<br/>
				<h2 class="h2 dyn_tts" style = "font-weight : bold;"> 검색어 : <%= data[0].search_word %> </h2>
				<form action="/sort" accept-charset="utf-8" method = "post" id="sorting" name=sortingSelect">
					<select name="sort_category" form="sortAction" style= "font-weight : bold; margin-top : 2rem; margin-bottom : 2rem;  font-size : 4rem; width : 500px; height : 100px; ">
						<option style = "font-weight : bold;"value="review_small">리뷰 많은 순</option>
						<option style = "font-weight : bold;"value="review_many">리뷰 적은 순</option>
						<option style = "font-weight : bold;"value="price_high">가격 높은 순</option>
						<option style = "font-weight : bold;"value="price_low">가격 낮은 순</option>
					</select>
					<button type ="submit" class="btn-primary-joys" style="font-weight : bold;" onclick=sortFunc()">정렬하기</button>
				</form>
				<br/>

				<div class="items">
					<% data.forEach(function(e, idx) { %>
					<!-- item1 start-->
					<div id="item_one" class="row" style="margin-bottom : 1rem;">
						<!-- Area Chart -->
						<div class="col-xl-14">
							<div class="card shadow mb-4" style="overflow: hidden; height: auto;">
								<!-- Card Header - Dropdown -->
								<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
									<h6 class="m-0 font-weight-bold text-primary" style="font-size : 3rem; font-weight : bold"> 상품 <%= idx+1 %> </h6>
								</div>
								<!-- item Body -->
								<div class="card-body">
									<div class="chart-area-joys">
										<div class="item_info">
											<div class="item_photo">
												<a href= <%= e.detail %> id="item_detail_url<%= idx %>">

													<img class="photo" id="image_url" src= <%= e.image %>/>
												</a>
											</div>

											<div id = "id_for_tts <%= idx %>" class="detail_and_button">
												<div class="item_detail" style="font-size : 1.5rem; color : black;">
													<p> <%= e.product_name %> </p>
													<p> 리뷰 : <%= e.review %> </p>
													<p style="background-color:#f6c23e;">가격 : <%= e.price %>원 </p>
												</div>
												

												<form action="/detail" method="post">
													<button class = "detail_joys tts" type="submit" id="detail<%= idx %>" name="detailURL" style="font-weight : bold;">상세설명보기</button>
												</form>
												<script>

													document.getElementById('detail<%= idx %>').value = document.getElementById('item_detail_url<%= idx %>').getAttribute('href');

												</script>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div style="clear:both;"> </div>
					<% }) %>
					<!--item1 done-->
				</div>
			</div>
				<!--sidebar start-->
				<div id="sidebar_wrapper" class="sidebar_wrapper_joys">
					<ul class="bg-gradient-primary sidebar_joys sidebar-dark accordion" id="buttonBar">
						<div id="button_group" class="button_group">
							<form action="/" id="first_page" name="first_page">
								<button id="go_first" type="submit" onclick="firstPage()" class="button_joys tts" style="margin-top : 1rem">첫 화면<br/>이동하기
								</button>
								<script>
									function firstPage() {
										$('#first_page').submit();
									}
								</script>
							</form>

							<audio id="au" src="" preload style="height : 0px; width : 0px;">
								해당 브라우저는 audio 태그를 지원하지 않습니다.
							</audio>

							<button id ="ocr_select" class="button_joys tts">선택영역<br/>이미지읽기</button>

							<button id ="over_tts" class="button_joys tts" onclick="tts_btn(); tts_html()">마우스<br/>포인터읽기</button>

							<button id = "in_btn" class="button_joys tts" onclick="zoomIn()"> 확대</button>

							<button id = "out_btn"  class="button_joys tts" onclick="zoomOut()"> 축소</button>

							<button id = "go_up" type="button" onclick="goTop()" class="button_joys tts">위로<br/>이동하기</button>
							<script>
								function goTop() {
									document.documentElement.scrollTop = 0;
								}
							</script>
						</div>
					</ul>   
				</div>
				<!--sidebar done-->

				<div style="width : 500px;height:50px;"></div>

			<script src = "./scripts.js"></script>
			<script src = "./html_tts.js"></script>

		
			</div>
	</body>
</html>




